.user-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .user-card:focus {
    background-color: yellow;
  }

  .user-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: darkgray;
  }

  .user-icon {
    font-size: 100px;
    border-radius: 50px;
    position: relative;
    /* top: 50%; */
    margin-top: 25px;
    margin-left: 25px;
  }

  .user-card-content {
      width: 300px;
      height: 100px;
      margin-left: 50px;
      margin-top: 25px;
      font-size: 15px;
  }

  .card {
    border: none;
    max-height: inherit;
    overflow: auto;
    width: 80%;
    height:55%;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .quick-ride {
      display: flex;
      flex-direction: column;
      height: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid grey;
  }

  .sourceDestinationForm {
    height: 200px;
    border-bottom: 1px solid grey;
    background-color: black;
  }

  .checkdiv {
    display: 'flex';
    flex-wrap: 'wrap';
    flex-direction: row;
    
    background-color: white;
    width: 30%;
  }

  .checkdivparent {
    padding-top: 50px;
    display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-template-columns: 0.5fr 0.5fr;
    justify-items: center;
  }

  .textfield {
    /* margin: 10px; */
    width: 250px;
    font-size: 25%;
  }

  .loginform {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 40px;
    width: 500px;
    height: 400px;
    padding: 0 40px 0 40px;
    border: 1px solid black;
    margin: 10% 0 0 -15%;
  }

  .registerform {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    height: 600px;
    padding: 0 40px 0 40px;
    border: 1px solid black;
    margin: 10% 0 0 -15%;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .login-register-link {
    font-size: 15px;
    margin-left: 20%;
  }